/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "https://fonts.googleapis.com/icon?family=Material+Icons";
 @import 'materialize';
 @import "materialize/extras/nouislider";

 .simple-calendar {
    .day {}
  
    .wday-0 {}
    .wday-1 {}
    .wday-2 {}
    .wday-3 {}
    .wday-4 {}
    .wday-5 {}
    .wday-6 {}
  
    .today {}
    .past {}
    .future {}
  
    .start-date {}
  
    .prev-month {
        color: grey;
    }
    .next-month {
        color: rgb(163, 163, 163);
    }
    .current-month {}
  
    .has-events {}
  }

  div.simple-calendar > div.calendar-heading > a {
    color: pink !important;
  }